*{
  background-color: rgb(22, 24, 138);
}

.navbar-brand{
  top: 0;
  left: 0;
  padding: 2rem 5%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 2.0rem;
  cursor: default;
  font-weight: 600;
}

.navbar-nav {
  margin-left: 15%;
}

.navbar-nav a{
  margin-left: 3rem;
  color: white;
  font-size: 1.2rem;
}
.navbar-nav a:hover {
  color: brown;
}

