.footer{
  position :absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
.contact{
  background-color: black;
  color: #fff;
}
.contact-info{
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
}
.contact-info h3{
  color: rgb(255, 230, 0);
  font-size:25px ;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact-info p{
  color: white;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .42s;
}
.contact-info p:hover{
  color: rgb(255, 230, 0);
}
.first-info img{
  width: 150px;
  height: auto;
}
.social-icon i{
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
  transition: all .42s;
}
.social-icon i:hover{
  transform: scale(1.3);
}
.copyright {
  background-color: black;
  text-align: center;
  padding: 20px;
}
.copyright p{
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
}
