.footer{
  position :absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
.copyright {
  background-color: #323946;
  text-align: center;
  font-size: 120%;
  padding: 20px;
}
.copyright p{
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
}
