<!---------EXPERIENCE-------->
<section class="experience" id="experience">
  <h2 class="heading">MY CARRER</h2>

  <div class="timeline-items">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2023 - 2024</div>
      <div class="timeline-content">
        <h3>INVERSION METALES DEL CENTRO LTDA</h3>
        <p>
          Aptitudes: <br />
          ·JavaScript · Aplicaciones web · TypeScript · NoSQL · Hojas de estilos
          en cascada (CSS) · Bases de datos · Git · Desarrollo de API ·
          Desarrollo web · Servicios web de RESTful · MySQL · HTML5 · JavaEE ·
          Bootstrap · Desarrollo web back end · MongoDB · Angular · Programación
          orientada a objetos (POO) · SQL · Java · Scrum
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2022 - 2023</div>
      <div class="timeline-content">
        <h3>FLAMTECH TECHNOLOGIES CA</h3>
        <p>
          Aptitudes: <br />
          · Maven · Desarrollo Java · Spring · Mockito · Apache · NoSQL · Git ·
          Desarrollo de API · JUnit · Spring Framework · Java Database
          Connectivity (JDBC) · IBM AS/400 · Desarrollo web back end · MongoDB ·
          Programación orientada a objetos (POO) · Java · Spring Boot · Scrum ·
          Spring Security
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2018 - 2023</div>
      <div class="timeline-content">
        <h3>UNIVERSIDAD CATOLICA ANDRES BELLO (UCAB)</h3>
        <h3>INGENIERO EN INFORMATICA</h3>
        <p>
          Aptitudes: <br />
          · Documentación de programas informáticos · Conocimientos informáticos
          · Ingeniería informática · Desarrollo de software
        </p>
      </div>
    </div>
  </div>
</section>
