<!--Contact Me-->
<section>
  <div class="contact" id="contact">
    <h2 class="heading"><i class="bx bx-envelope"></i>Contact Me</h2>
    <form action="https://formsubmit.co/albianjose0424@gmail.com" method="POST">
      <div class="input-box">
        <input type="text" name="name" id="name" placeholder="Full Name" />
        <input
          type="email"
          name="correo"
          id="correo"
          placeholder="Email Address"
        />
      </div>
      <div class="input-box">
        <input
          type="number"
          name="phone"
          id="phone"
          placeholder="Phone Number"
        />
        <input type="text" name="reason" id="reason" placeholder="Reason" />
      </div>
      <textarea
        name="details"
        id="details"
        cols="30"
        rows="10"
        placeholder="Your Message"
      ></textarea>
      <input type="submit" value="Send Message" class="btn" />
    </form>
  </div>
</section>
