<app-header></app-header>
<section style="background-color: #323946">
  <div class="home" id="home">
    <div class="home-content">
      <h3>Holaaaaaaa</h3>
      <h1>H11111111</h1>
      <h3>H#####3333333</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
        corporis omnis, ipsam ipsa excepturi facere voluptate facilis rerum
        saepe molestias ullam ducimus sunt possimus, aspernatur molestiae
        quibusdam nam deserunt? Fugiat.
      </p>
      <div class="social-media">
        <a href="#">ICONOS DE REDES SOCIALES</a>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </div>
      <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
      <img src="../assets/image/profile.jpg" alt="" />
    </div>
  </div>
</section>
<app-footer></app-footer>
