*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h1{
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}


