<!--My Jobs-->
<section>
  <div class="projects" id="projects">
    <h2 class="heading">My Projects</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/Project1.JPG" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">App-Inventory</h5>
          <p class="card-text">
            App-Inventory-foods, a RestFul Api where we use angular pipes to
            perform filters on the information obtained from the database.
          </p>
          <a
            href="https://github.com/Albin18/Inventory-Food-App"
            class="btn"
            target="_blank"
            ><i class="bx bx-link-external"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/Project2.JPG" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">E-Commerce</h5>
          <p class="card-text">
            E-Commerce VipPhone. For a store in Caracas Venezuela, Specialized
            in sales of technological products.
          </p>
          <a
            href="https://e-commerce-vip-phone.vercel.app/home"
            class="btn"
            target="_blank"
            ><i class="bx bx-link-external"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/Project3.JPG" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">WEB JOYERIA</h5>
          <p class="card-text">
            Metal Investments from the LTDA center, Aurus Jewelry project, I
            reactively participated in modifications to the website with my
            support and development team.
          </p>
          <a href="https://www.aurusjoyeria.cl/" class="btn" target="_blank"
            ><i class="bx bx-link-external"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/portfolio3.jpg" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">COOMING SOON!</h5>
          <p class="card-text"></p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/portfolio5.jpg" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">COOMING SOON!</h5>
          <p class="card-text"></p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/portfolio6.jpg" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">COOMING SOON!</h5>
          <p class="card-text"></p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact Me-->
<section>
  <div class="contact" id="contact">
    <h2 class="heading"><i class="bx bx-envelope"></i>Contact Me</h2>
    <form action="https://formsubmit.co/albianjose0424@gmail.com" method="POST">
      <div class="input-box">
        <input type="text" name="name" id="name" placeholder="Full Name" />
        <input
          type="email"
          name="correo"
          id="correo"
          placeholder="Email Address"
        />
      </div>
      <div class="input-box">
        <input
          type="number"
          name="phone"
          id="phone"
          placeholder="Phone Number"
        />
        <input type="text" name="reason" id="reason" placeholder="Reason" />
      </div>
      <textarea
        name="details"
        id="details"
        cols="30"
        rows="10"
        placeholder="Your Message"
      ></textarea>
      <input type="submit" value="Send Message" class="btn" />
    </form>
  </div>
</section>
