<section>
  <div class="home" id="home">
    <div class="home-content">
      <h3>ALBIAN PEREZ</h3>
      <h1>SOFTWARE ENGINNER</h1>
      <h3>FULL-STACK DEVELOPER</h3>
      <p>
        I AM A COMPUTER ENGINEER, MY MOST DIFFICULT EXPERIENCE WAS WORKING WITH
        THE IBM/AS400 DATABASE FOR MY PROFESSIONAL PRACTICE.<br />
        I GRADUATED FROM UNIVERSITY CATOLIC ANDRES BELLO (UCAB)
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/in/albianp/ " target="_blank"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.me/+56953358663" target="_blank"
          ><i class="bx bxl-whatsapp"></i
        ></a>
        <a href="https://github.com/Albin18" target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
      </div>
      <a href="../assets/image/Cv-Albian.pdf" class="btn" download=""
        >Download CV</a
      >
    </div>
    <div class="home-img">
      <img src="../assets/image/profile.jpeg" alt="" />
    </div>
  </div>
</section>
