<section>
  <div class="home" id="home">
    <div class="home-content">
      <h3>ALBIAN PEREZ</h3>
      <h1>SOFTWARE ENGINNER</h1>
      <h3>FULL-STACK DEVELOPER</h3>
      <p>
        I AM A COMPUTER ENGINEER, MY MOST CHALLENGING EXPERIENCE WAS WORKING
        WITH THE IBM/AS400 DATABASE FOR MY PROFESSIONAL PRACTICE. <br />
        I GRADUATED FROM UNIVERSITY CATOLIC ANDRES BELLO (UCAB)
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/in/albianp/ " target="_blank"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="https://wa.me/+56953358663" target="_blank"
          ><i class="bx bxl-whatsapp"></i
        ></a>
        <a href="https://github.com/Albin18" target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
      </div>
      <a href="../assets/image/Cv-Albian.pdf" class="btn" download=""
        >Download CV</a
      >
    </div>
    <div class="home-img">
      <img src="../assets/image/profile.jpg" alt="" />
    </div>
  </div>
</section>
<!--EXPERIENCE-->
<section class="experience" id="experience">
  <h2 class="heading">MY CARRER</h2>

  <div class="timeline-items">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2023 - 2024</div>
      <div class="timeline-content">
        <h3>INVERSION METALES DEL CENTRO LTDA</h3>
        <p>
          Aptitudes: <br />
          ·JavaScript · Aplicaciones web · TypeScript · NoSQL · Hojas de estilos
          en cascada (CSS) · Bases de datos · Git · Desarrollo de API ·
          Desarrollo web · Servicios web de RESTful · MySQL · HTML5 · JavaEE ·
          Bootstrap · Desarrollo web back end · MongoDB · Angular · Programación
          orientada a objetos (POO) · SQL · Java · Scrum
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2022 - 2023</div>
      <div class="timeline-content">
        <h3>FLAMTECH TECHNOLOGIES CA</h3>
        <p>
          Aptitudes: <br />
          · Maven · Desarrollo Java · Spring · Mockito · Apache · NoSQL · Git ·
          Desarrollo de API · JUnit · Spring Framework · Java Database
          Connectivity (JDBC) · IBM AS/400 · Desarrollo web back end · MongoDB ·
          Programación orientada a objetos (POO) · Java · Spring Boot · Scrum ·
          Spring Security
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">2018 - 2023</div>
      <div class="timeline-content">
        <h3>UNIVERSIDAD CATOLICA ANDRES BELLO (UCAB)</h3>
        <h3>INGENIERO EN INFORMATICA</h3>
        <p>
          Aptitudes: <br />
          · Documentación de programas informáticos · Conocimientos informáticos
          · Ingeniería informática · Desarrollo de software
        </p>
      </div>
    </div>
  </div>
</section>
<!--My Jobs-->
<section>
  <div class="projects" id="projects">
    <h2 class="heading">My Projects</h2>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/Project1.JPG" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">App-Inventory</h5>
          <p class="card-text">
            App-Inventory-foods, a RestFul Api where we use angular pipes to
            perform filters on the information obtained from the database.
          </p>
          <a
            href="https://github.com/Albin18/Inventory-Food-App"
            class="btn"
            target="_blank"
            ><i class="bx bx-link-external"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/Project2.JPG" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">E-Commerce</h5>
          <p class="card-text">
            E-Commerce VipPhone. For a store in Caracas Venezuela, Specialized
            in sales of technological products.
          </p>
          <a
            href="https://e-commerce-vip-phone.vercel.app/home"
            class="btn"
            target="_blank"
            ><i class="bx bx-link-external"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/Project3.JPG" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">WEB JOYERIA</h5>
          <p class="card-text">
            Metal Investments from the LTDA center, Aurus Jewelry project, I
            reactively participated in modifications to the website with my
            support and development team.
          </p>
          <a href="https://www.aurusjoyeria.cl/" class="btn" target="_blank"
            ><i class="bx bx-link-external"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/portfolio3.jpg" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">COOMING SOON!</h5>
          <p class="card-text"></p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/portfolio5.jpg" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">COOMING SOON!</h5>
          <p class="card-text"></p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../assets/image/portfolio6.jpg" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">COOMING SOON!</h5>
          <p class="card-text"></p>
          <a href="#" class="btn"><i class="bx bx-link-external"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Contact Me-->
<section>
  <div class="contact" id="contact">
    <h2 class="heading"><i class="bx bx-envelope"></i>Contact Me</h2>
    <form action="https://formsubmit.co/albianjose0424@gmail.com" method="POST">
      <div class="input-box">
        <input type="text" name="name" id="name" placeholder="Full Name" />
        <input
          type="email"
          name="correo"
          id="correo"
          placeholder="Email Address"
        />
      </div>
      <div class="input-box">
        <input
          type="number"
          name="phone"
          id="phone"
          placeholder="Phone Number"
        />
        <input type="text" name="reason" id="reason" placeholder="Reason" />
      </div>
      <textarea
        name="details"
        id="details"
        cols="30"
        rows="10"
        placeholder="Your Message"
      ></textarea>
      <input type="submit" value="Send Message" class="btn" />
    </form>
  </div>
</section>
